// icon font
// --------------------------

// lifted from FontAwesome
// https://github.com/FortAwesome/Font-Awesome/blob/6549e2920b0a27213b895200becc485ab01e9974/scss/path.scss
@font-face {

  font-family: 'WeatherIcons';
  font-style: normal;
  font-weight: normal;
  src: url('#{$wi-font-path}/weathericons-webfont.eot?v=#{$wi-version}');
  src: url('#{$wi-font-path}/weathericons-webfont.eot?#iefix&v=#{$wi-version}') format('embedded-opentype'),
    url('#{$wi-font-path}/weathericons-webfont.woff?v=#{$wi-version}') format('woff'),
    url('#{$wi-font-path}/weathericons-webfont.ttf?v=#{$wi-version}') format('truetype'),
    url('#{$wi-font-path}/weathericons-webfont.svg?v=#{$wi-version}#weathericonregular') format('svg');
}
