.#{$wi-css-prefix}-lg {
    font-size: (4em / 3);
    line-height: (3em / 4);
    vertical-align: -15%;
}
.#{$wi-css-prefix}-2x { font-size: 2em }
.#{$wi-css-prefix}-3x { font-size: 3em }
.#{$wi-css-prefix}-4x { font-size: 4em }
.#{$wi-css-prefix}-5x { font-size: 5em }
.#{$wi-css-prefix}-6x { font-size: 6em }
.#{$wi-css-prefix}-7x { font-size: 7em }
.#{$wi-css-prefix}-8x { font-size: 8em }
.#{$wi-css-prefix}-9x { font-size: 9em }
.#{$wi-css-prefix}-10x { font-size: 10em }
