@charset "utf-8";

// Import varables and mixins
@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";

// Add class for 
@font-face {
    font-family: '#{$weather-icons-font-family}';
    src: url('#{$weather-icons-path}/#{$weather-icons-font-family}-regular-webfont.eot');
    src: url('#{$weather-icons-path}/#{$weather-icons-font-family}-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$weather-icons-path}/#{$weather-icons-font-family}-regular-webfont.woff') format('woff'),
    url('#{$weather-icons-path}/#{$weather-icons-font-family}-regular-webfont.ttf') format('truetype'),
    url('#{$weather-icons-path}/#{$weather-icons-font-family}-regular-webfont.svg#weathericons-regular-webfontRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.#{$weather-icons-prefix} {
  display: inline-block;
  font-family: '#{$weather-icons-font-family}';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Create all icon classes
@include icons($collection);

// Create all wind rotation classes
@include wind-rotations(15,345);
