$cloud: "\f041";
$cloudy: "\f013";
$cloudy-gusts: "\f011";
$cloudy-windy: "\f012";
$fog: "\f014";
$hail: "\f015";
$lightning: "\f016";
$rain: "\f019";
$rain-mix: "\f017";
$rain-wind: "\f018";
$showers: "\f01a";
$sleet: "\f0b5";
$snow: "\f01b";
$sprinkle: "\f01c";
$storm-showers: "\f01d";
$thunderstorm: "\f01e";
$snow-wind: "\f064";
$meteor: "\f071";
$hurricane: "\f073";
$smog: "\f074";
$smoke: "\f062";
$lightning: "\f016";
$dust: "\f063";
$snow: "\f01b";
$snowflake-cold: "\f076";
$raindrop: "\f078";
$sandstorm: "\f082";
$earthquake: "\f0c6"
