// icon definitions
// --------------------------

// loop over key/value pairs
// - lifted shamelessly from: http://stackoverflow.com/questions/23658087/loop-over-an-array-of-name-value-pairs-in-less#answer-26445367

.createIconClasses(@iterator: 1) when(@iterator <= length(@wi-icon-glyphs)) {

  @wi-glyph-name: extract(extract(@wi-icon-glyphs, @iterator), 1);
  @wi-glyph-name-unquoted: ~"@{wi-glyph-name}";

  .@{wi-css-prefix}-@{wi-glyph-name-unquoted}:before {

    content: extract(extract(@wi-icon-glyphs, @iterator), 2);
  }

  .createIconClasses((@iterator + 1));
}
.createIconClasses();
