doctype
html
  head
    title Weather Icons - Icon Font inspired by Font Awesome and designed for Bootstrap
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='css/styles.css')
    


  body

    p Copy and paste these characters into your design apps to use them as real fonts:    
    



    section.content.container.iconExamples.reference
      .row
        .col-sm-12
          .reference Day / Sunny
      .row
        .col-sm-4
          .icon-wrap
            .icon &#xf000; 
            .icon_name wi-day-cloudy-gusts 
            .icon_unicode (&#xf000;)
          .icon-wrap
            .icon &#xf001; 
            .icon_name wi-day-cloudy-windy 
            .icon_unicode (&#xf001;)
          .icon-wrap
            .icon &#xf002; 
            .icon_name wi-day-cloudy 
            .icon_unicode (&#xf002;)
          .icon-wrap
            .icon &#xf003; 
            .icon_name wi-day-fog 
            .icon_unicode (&#xf003;)
          .icon-wrap
            .icon &#xf004; 
            .icon_name wi-day-hail 
            .icon_unicode (&#xf004;)
          .icon-wrap
            .icon &#xf005; 
            .icon_name wi-day-lightning 
            .icon_unicode (&#xf005;)
        .col-sm-4
          .icon-wrap
            .icon &#xf006; 
            .icon_name wi-day-rain-mix 
            .icon_unicode (&#xf006;)
          .icon-wrap
            .icon &#xf007; 
            .icon_name wi-day-rain-wind 
            .icon_unicode (&#xf007;)
          .icon-wrap
            .icon &#xf008; 
            .icon_name wi-day-rain 
            .icon_unicode (&#xf008;)
          .icon-wrap
            .icon &#xf009; 
            .icon_name wi-day-showers 
            .icon_unicode (&#xf009;)
          .icon-wrap
            .icon &#xf00a; 
            .icon_name wi-day-snow 
            .icon_unicode (&#xf001;)
          .icon-wrap
            .icon &#xf00b; 
            .icon_name wi-day-sprinkle 
            .icon_unicode (&#xf00b;)
        .col-sm-4
          .icon-wrap
            .icon &#xf00c; 
            .icon_name wi-day-sunny-overcast 
            .icon_unicode (&#xf00c;)
          .icon-wrap
            .icon &#xf00d; 
            .icon_name wi-day-sunny 
            .icon_unicode (&#xf00d;)
          .icon-wrap
            .icon &#xf00e; 
            .icon_name wi-day-storm-showers 
            .icon_unicode (&#xf00e;)
          .icon-wrap
            .icon &#xf010; 
            .icon_name wi-day-thunderstorm 
            .icon_unicode (&#xf010;)
      .row
        .col-sm-12
          .reference Neutral / Cloudy
      .row
        .col-sm-4
          .icon-wrap
            .icon &#xf011; 
            .icon_name wi-cloudy-gusts 
            .icon_unicode (&#xf011;)
          .icon-wrap
            .icon &#xf012; 
            .icon_name wi-cloudy-windy 
            .icon_unicode (&#xf012;)
          .icon-wrap
            .icon &#xf013; 
            .icon_name wi-cloudy 
            .icon_unicode (&#xf013;)
          .icon-wrap
            .icon &#xf014; 
            .icon_name wi-fog 
            .icon_unicode (&#xf014;)
          .icon-wrap
            .icon &#xf015; 
            .icon_name wi-hail 
            .icon_unicode (&#xf015;)
        .col-sm-4
          .icon-wrap
            .icon &#xf016; 
            .icon_name wi-lightning 
            .icon_unicode (&#xf016;)
          .icon-wrap
            .icon &#xf017; 
            .icon_name wi-rain-mix 
            .icon_unicode (&#xf017;)
          .icon-wrap
            .icon &#xf018; 
            .icon_name wi-rain-wind 
            .icon_unicode (&#xf018;)
          .icon-wrap
            .icon &#xf019; 
            .icon_name wi-rain 
            .icon_unicode (&#xf019;)
          .icon-wrap
            .icon &#xf01a; 
            .icon_name wi-showers 
            .icon_unicode (&#xf01a;)
        .col-sm-4
          .icon-wrap
            .icon &#xf01b; 
            .icon_name wi-snow 
            .icon_unicode (&#xf01b;)
          .icon-wrap
            .icon &#xf01c; 
            .icon_name wi-sprinkle 
            .icon_unicode (&#xf01c;)
          .icon-wrap
            .icon &#xf01d; 
            .icon_name wi-storm-showers 
            .icon_unicode (&#xf01d;)
          .icon-wrap
            .icon &#xf01e; 
            .icon_name wi-thunderstorm 
            .icon_unicode (&#xf01e;)

      .row
        .col-sm-12
          .reference Night / Moons
      .row
        .col-sm-4
          .icon-wrap
            .icon &#xf022; 
            .icon_name wi-night-alt-cloudy-gusts 
            .icon_unicode (&#xf022;)
          .icon-wrap
            .icon &#xf023; 
            .icon_name wi-night-alt-cloudy-windy 
            .icon_unicode (&#xf023;)
          .icon-wrap
            .icon &#xf024; 
            .icon_name wi-night-alt-hail 
            .icon_unicode (&#xf024;)
          .icon-wrap
            .icon &#xf025; 
            .icon_name wi-night-alt-lightning 
            .icon_unicode (&#xf025;)
          .icon-wrap
            .icon &#xf026; 
            .icon_name wi-night-alt-rain-mix 
            .icon_unicode (&#xf026;)
          .icon-wrap
            .icon &#xf027; 
            .icon_name wi-night-alt-rain-wind 
            .icon_unicode (&#xf027;)
          .icon-wrap
            .icon &#xf028; 
            .icon_name wi-night-alt-rain 
            .icon_unicode (&#xf028;)
          .icon-wrap
            .icon &#xf029; 
            .icon_name wi-night-alt-showers 
            .icon_unicode (&#xf029;)
          .icon-wrap
            .icon &#xf02a; 
            .icon_name wi-night-alt-snow 
        .icon_unicode (&#xf02a;)
        .col-sm-4
          .icon-wrap
            .icon &#xf02b; 
            .icon_name wi-night-alt-sprinkle 
            .icon_unicode (&#xf02b;)
          .icon-wrap
            .icon &#xf02c; 
            .icon_name wi-night-alt-storm-showers 
            .icon_unicode (&#xf02c;)
          .icon-wrap
            .icon &#xf02d; 
            .icon_name wi-night-alt-thunderstorm 
            .icon_unicode (&#xf02d;)
          .icon-wrap
            .icon &#xf02e; 
            .icon_name wi-night-clear 
            .icon_unicode (&#xf02e;)
          .icon-wrap
            .icon &#xf02f; 
            .icon_name wi-night-cloudy-gusts 
            .icon_unicode (&#xf02f;)
          .icon-wrap
            .icon &#xf030; 
            .icon_name wi-night-cloudy-windy 
            .icon_unicode (&#xf030;)
          .icon-wrap
            .icon &#xf031; 
            .icon_name wi-night-cloudy 
            .icon_unicode (&#xf031;)
          .icon-wrap
            .icon &#xf032; 
            .icon_name wi-night-hail 
            .icon_unicode (&#xf032;)
          .icon-wrap
            .icon &#xf033; 
            .icon_name wi-night-lightning 
            .icon_unicode (&#xf033;)
        .col-sm-4
          .icon-wrap
          .right
            .icon &#xf034; 
            .icon_name wi-night-rain-mix 
            .icon_unicode (&#xf034;)
          .icon-wrap
            .icon &#xf035; 
            .icon_name wi-night-rain-wind 
            .icon_unicode (&#xf035;)
          .icon-wrap
            .icon &#xf036; 
            .icon_name wi-night-rain 
            .icon_unicode (&#xf036;)
          .icon-wrap
            .icon &#xf037; 
            .icon_name wi-night-showers 
            .icon_unicode (&#xf037;)
          .icon-wrap
            .icon &#xf038; 
            .icon_name wi-night-snow 
            .icon_unicode (&#xf038;)
          .icon-wrap
            .icon &#xf039; 
            .icon_name wi-night-sprinkle 
            .icon_unicode (&#xf039;)
          .icon-wrap
            .icon &#xf03a; 
            .icon_name wi-night-storm-showers 
            .icon_unicode (&#xf03a;)
          .icon-wrap
            .icon &#xf03b; 
            .icon_name wi-night-thunderstorm 
            .icon_unicode (&#xf03b;)
      .row
        .col-sm-12
          .reference Miscellaneous Weather 
      .row
        .col-sm-4
          .icon-wrap
            .icon &#xf03c; 
            .icon_name wi-celcius 
            .icon_unicode (&#xf03c;)
          .icon-wrap
            .icon &#xf03d; 
            .icon_name wi-cloud-down 
            .icon_unicode (&#xf03d;)
          .icon-wrap
            .icon &#xf03e; 
            .icon_name wi-cloud-refresh 
            .icon_unicode (&#xf03e;)
          .icon-wrap
            .icon &#xf040; 
            .icon_name wi-cloud-up 
            .icon_unicode (&#xf040;)
          .icon-wrap
            .icon &#xf041; 
            .icon_name wi-cloud 
            .icon_unicode (&#xf041;)
          .icon-wrap
            .icon &#xf042; 
            .icon_name wi-degrees 
            .icon_unicode (&#xf042;)
          .icon-wrap
            .icon &#xf043; 
            .icon_name wi-down-left 
            .icon_unicode (&#xf043;)
          .icon-wrap
            .icon &#xf044; 
            .icon_name wi-down 
            .icon_unicode (&#xf044;)
          .icon-wrap
            .icon &#xf045; 
            .icon_name wi-fahrenheit 
            .icon_unicode (&#xf045;)
          .icon-wrap
            .icon &#xf046; 
            .icon_name wi-horizon-alt 
            .icon_unicode (&#xf046;)
          .icon-wrap
            .icon &#xf047; 
            .icon_name wi-horizon 
            .icon_unicode (&#xf047;)
          .icon-wrap
            .icon &#xf048; 
            .icon_name wi-left 
            .icon_unicode (&#xf048;)
        .col-sm-4
          .icon-wrap
            .icon &#xf016; 
            .icon_name wi-lightning 
            .icon_unicode (&#xf016;)
          .icon-wrap
            .icon &#xf04a; 
            .icon_name wi-night-fog 
            .icon_unicode (&#xf04a;)
          .icon-wrap
            .icon &#xf04b; 
            .icon_name wi-refresh-alt 
            .icon_unicode (&#xf04b;)
          .icon-wrap
            .icon &#xf04c; 
            .icon_name wi-refresh 
            .icon_unicode (&#xf04c;)
          .icon-wrap
            .icon &#xf04d; 
            .icon_name wi-right 
            .icon_unicode (&#xf04d;)
          .icon-wrap
            .icon &#xf04e; 
            .icon_name wi-sprinkles 
            .icon_unicode (&#xf04e;)
          .icon-wrap
            .icon &#xf050; 
            .icon_name wi-strong-wind 
            .icon_unicode (&#xf050;)
          .icon-wrap
            .icon &#xf051; 
            .icon_name wi-sunrise 
            .icon_unicode (&#xf051;)
          .icon-wrap
            .icon &#xf052; 
            .icon_name wi-sunset 
            .icon_unicode (&#xf052;)
          .icon-wrap
            .icon &#xf053; 
            .icon_name wi-thermometer-exterior 
            .icon_unicode (&#xf053;)
          .icon-wrap
            .icon &#xf054; 
            .icon_name wi-thermometer-internal 
            .icon_unicode (&#xf054;)
          .icon-wrap
            .icon &#xf055; 
            .icon_name wi-thermometer 
            .icon_unicode (&#xf055;)
        .col-sm-4
          .icon-wrap
            .icon &#xf056; 
            .icon_name wi-tornado 
            .icon_unicode (&#xf056;)
          .icon-wrap
            .icon &#xf057; 
            .icon_name wi-up-right 
            .icon_unicode (&#xf057;)
          .icon-wrap
            .icon &#xf058; 
            .icon_name wi-up 
            .icon_unicode (&#xf058;)
          .icon-wrap
            .icon &#xf059; 
            .icon_name wi-wind-east 
            .icon_unicode (&#xf059;)
          .icon-wrap
            .icon &#xf05a; 
            .icon_name wi-wind-north-east 
            .icon_unicode (&#xf05a;)
          .icon-wrap
            .icon &#xf05b; 
            .icon_name wi-wind-north-west 
            .icon_unicode (&#xf05b;)
          .icon-wrap
            .icon &#xf05c; 
            .icon_name wi-wind-north 
            .icon_unicode (&#xf05c;)
          .icon-wrap
            .icon &#xf05d; 
            .icon_name wi-wind-south-east 
            .icon_unicode (&#xf05d;)
          .icon-wrap
            .icon &#xf05e; 
            .icon_name wi-wind-south-west 
            .icon_unicode (&#xf05e;)
          .icon-wrap
            .icon &#xf060; 
            .icon_name wi-wind-south 
            .icon_unicode (&#xf060;)
          .icon-wrap
            .icon &#xf061; 
            .icon_name wi-wind-west 
            .icon_unicode (&#xf061;)
          .icon-wrap
            .icon &#xf021; 
            .icon_name wi-windy 
            .icon_unicode (&#xf021;)          



    footer
      .container
        .row-fluid
          .col-sm-12 
            p The Weather Icons project created and maintained by  
              a(href="http://www.twitter.com/Erik_UX") Erik Flowers
              |. Original artwork by  
              a(href="http://www.twitter.com/artill") Lukas Bischoff.
            p LESS/HTML implementation inspired and heavily influenced by  
              a(href="http://fortawesome.github.io/Font-Awesome/") Font Awesome.
            p Weather Icons licensed under 
              a("http://scripts.sil.org/OFL") SIL OFL 1.1
              |  &mdash; Code licensed under  
              a("http://opensource.org/licenses/mit-license.html") MIT License
              |   &mdash; Documentation licensed under  
              a("http://creativecommons.org/licenses/by/3.0/") CC BY 3.0

