// Codes according to Forecast.io

// Reference:
// Forecast.io API v2 documentation
// https://developer.forecast.io/docs/v2

.@{weather-icons-prefix}-forecastio-clear-day:before            { content: @day-sunny     ; }
.@{weather-icons-prefix}-forecastio-clear-night:before          { content: @night-clear   ; }
.@{weather-icons-prefix}-forecastio-rain:before                 { content: @rain          ; }
.@{weather-icons-prefix}-forecastio-snow:before                 { content: @snow          ; }
.@{weather-icons-prefix}-forecastio-sleet:before                { content: @sleet         ; }
.@{weather-icons-prefix}-forecastio-wind:before                 { content: @strong-wind   ; }
.@{weather-icons-prefix}-forecastio-fog:before                  { content: @fog           ; }
.@{weather-icons-prefix}-forecastio-cloudy:before               { content: @cloudy        ; }
.@{weather-icons-prefix}-forecastio-partly-cloudy-day:before    { content: @day-cloudy    ; }
.@{weather-icons-prefix}-forecastio-partly-cloudy-night:before  { content: @night-cloudy  ; }

.@{weather-icons-prefix}-forecastio-hail:before                 { content: @hail          ; }
.@{weather-icons-prefix}-forecastio-thunderstorm:before         { content: @thunderstorm  ; }
.@{weather-icons-prefix}-forecastio-tornado:before              { content: @tornado       ; }