
    .#{$wi-css-prefix}-apixu-113:before                            { content: $day-sunny                   ; }
    .#{$wi-css-prefix}-apixu-116:before                            { content: $day-cloudy                  ; }
    .#{$wi-css-prefix}-apixu-119:before                            { content: $cloud                       ; }
    .#{$wi-css-prefix}-apixu-122:before                            { content: $cloudy                      ; }
    
    .#{$wi-css-prefix}-apixu-143:before                            { content: $fog                         ; }
    .#{$wi-css-prefix}-apixu-176:before                            { content: $day-rain                    ; }
    .#{$wi-css-prefix}-apixu-179:before                            { content: $day-snow                    ; }
    .#{$wi-css-prefix}-apixu-182:before                            { content: $sleet                       ; }
    .#{$wi-css-prefix}-apixu-185:before                            { content: $fog                         ; }
    .#{$wi-css-prefix}-apixu-200:before                            { content: $thunderstorm                ; }
    .#{$wi-css-prefix}-apixu-227:before                            { content: $snow-wind                   ; }
    .#{$wi-css-prefix}-apixu-230:before                            { content: $snow-wind                   ; }
    .#{$wi-css-prefix}-apixu-248:before                            { content: $fog                         ; }
    .#{$wi-css-prefix}-apixu-260:before                            { content: $fog                         ; }
    .#{$wi-css-prefix}-apixu-263:before                            { content: $sprinkle                    ; }
    .#{$wi-css-prefix}-apixu-266:before                            { content: $sprinkle                    ; }
    .#{$wi-css-prefix}-apixu-281:before                            { content: $rain                        ; }
    .#{$wi-css-prefix}-apixu-284:before                            { content: $rain                        ; }
    .#{$wi-css-prefix}-apixu-293:before                            { content: $day-rain                    ; }
    .#{$wi-css-prefix}-apixu-296:before                            { content: $sprinkle                    ; }
    .#{$wi-css-prefix}-apixu-299:before                            { content: $day-rain                    ; }
    .#{$wi-css-prefix}-apixu-302:before                            { content: $rain                        ; }
    .#{$wi-css-prefix}-apixu-305:before                            { content: $day-rain                    ; }
    .#{$wi-css-prefix}-apixu-308:before                            { content: $rain                        ; }
    .#{$wi-css-prefix}-apixu-311:before                            { content: $rain                        ; }
    .#{$wi-css-prefix}-apixu-314:before                            { content: $rain                        ; }
    .#{$wi-css-prefix}-apixu-317:before                            { content: $rain-mix                    ; }
    .#{$wi-css-prefix}-apixu-320:before                            { content: $day-sleet                   ; }
    .#{$wi-css-prefix}-apixu-323:before                            { content: $day-snow                    ; }
    .#{$wi-css-prefix}-apixu-326:before                            { content: $snow                        ; }
    .#{$wi-css-prefix}-apixu-329:before                            { content: $day-snow                    ; }
    .#{$wi-css-prefix}-apixu-332:before                            { content: $snow                        ; }
    .#{$wi-css-prefix}-apixu-335:before                            { content: $day-snow                    ; }
    .#{$wi-css-prefix}-apixu-338:before                            { content: $snow                        ; }
    .#{$wi-css-prefix}-apixu-350:before                            { content: $snow                        ; }
    .#{$wi-css-prefix}-apixu-353:before                            { content: $day-rain                    ; }
    .#{$wi-css-prefix}-apixu-356:before                            { content: $day-rain                    ; }
    .#{$wi-css-prefix}-apixu-359:before                            { content: $rain                        ; }
    .#{$wi-css-prefix}-apixu-362:before                            { content: $sleet                       ; }
    .#{$wi-css-prefix}-apixu-365:before                            { content: $sleet                       ; }
    .#{$wi-css-prefix}-apixu-368:before                            { content: $day-snow                    ; }
    .#{$wi-css-prefix}-apixu-371:before                            { content: $day-snow                    ; }
    .#{$wi-css-prefix}-apixu-374:before                            { content: $day-snow                    ; }
    .#{$wi-css-prefix}-apixu-377:before                            { content: $day-snow                    ; }
    .#{$wi-css-prefix}-apixu-386:before                            { content: $thunderstorm                ; }
    .#{$wi-css-prefix}-apixu-389:before                            { content: $thunderstorm                ; }
    .#{$wi-css-prefix}-apixu-392:before                            { content: $thunderstorm                ; }
    .#{$wi-css-prefix}-apixu-395:before                            { content: $thunderstorm                ; }
    
    