.#{$wi-css-prefix}-dark-sky-clear-day:before            { content: $day-sunny     ; }
.#{$wi-css-prefix}-dark-sky-clear-night:before          { content: $night-clear   ; }
.#{$wi-css-prefix}-dark-sky-rain:before                 { content: $rain          ; }
.#{$wi-css-prefix}-dark-sky-snow:before                 { content: $snow          ; }
.#{$wi-css-prefix}-dark-sky-sleet:before                { content: $sleet         ; }
.#{$wi-css-prefix}-dark-sky-wind:before                 { content: $strong-wind   ; }
.#{$wi-css-prefix}-dark-sky-fog:before                  { content: $fog           ; }
.#{$wi-css-prefix}-dark-sky-cloudy:before               { content: $cloudy        ; }
.#{$wi-css-prefix}-dark-sky-partly-cloudy-day:before    { content: $day-cloudy    ; }
.#{$wi-css-prefix}-dark-sky-partly-cloudy-night:before  { content: $night-cloudy  ; }
.#{$wi-css-prefix}-dark-sky-hail:before                 { content: $hail          ; }
.#{$wi-css-prefix}-dark-sky-thunderstorm:before         { content: $thunderstorm  ; }
.#{$wi-css-prefix}-dark-sky-tornado:before              { content: $tornado       ; }