* {
	padding:0;
	margin:0;
}

body {
	
}

#page_wrapper {
	
}

header {
	
}

#header_content {
	width: 960px;
	margin: 0 auto;
}

#main {
	float: none;
}

#main_content {
	width: 960px;
	margin: 0 auto;
	float: none;
}

h2 {
	font-family: 'Average Sans', sans-serif;
	color: #0099FF;
	margin-top: 25px;
	margin-bottom: 15px;
}

.left {
	float:left;
	width: 320px;
}

.center {
	float:left;
	width: 320px;
}

.right {
	float:left;
	width: 320px;
}

.icon {
	font-family: 'weather';
	src: url('../font/weathericons-regular-webfont.eot');
	src: url('../font/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/weathericons-regular-webfont.woff') format('woff'), url('../font/weathericons-regular-webfont.ttf') format('truetype'), url('../font/weathericons-regular-webfont.svg#weathericons-regular-webfontRg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon_name {
	font-family: 'Average Sans', sans-serif;
}

.icon_unicode {
	font-family: 'Average Sans', sans-serif;
	color: #BBBBBB;
	font-size: 0.8em;
	float: none;
}

.stop_float {
	clear: both;
}

footer {

}

#footer_content {
	width: 960px;
	margin: 0 auto;
}
