// Wind Variables 2.0

.#{$wi-css-prefix}-wind-default:before { content: $wind-default; }

@mixin wind-rotate( $val: 0deg ) {
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
  -ms-transform: rotate($val);
  -o-transform: rotate($val);
  transform: rotate($val);
}

@import "classes-wind-degrees.scss";