!!! 5
html(lang="en")
  head
    title Demo Homepage
    //- meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')



    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//use.typekit.net/xmb4mjl.js')
    script
      try{Typekit.load();}catch(e){}

    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/weather.css')
  body



  

    section.content.container
      .row
        .col-sm-12
          p.examples a b c d e f g h i j k l m n o p q r s t u v w x y z 1 2 3 4 5 6 7 8 9 0
          p.examples A B C D E F G H I J K L M N O P Q R S T U V W X Y Z 1 2 3 4 5 6 7 8 9 0
          p.examples * / , ! \ { } " "
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space
          p space

          