doctype
html
  head
    title Weather Icons - Icon Font inspired by Font Awesome and designed for Bootstrap
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='../css/weather-icons.css')



  body

    p aCopy and paste these characters into your design apps to use them as real fonts:




    section.content.container.iconExamples.reference
      include icon-list


    footer

      .container
        .row-fluid
          .col-sm-12
            p The Weather Icons project created and maintained by
              a(href="http://www.twitter.com/Erik_UX") Erik Flowers
              |. Original artwork by
              a(href="http://www.twitter.com/artill") Lukas Bischoff.
            p LESS/HTML implementation inspired and heavily influenced by
              a(href="http://fortawesome.github.io/Font-Awesome/") Font Awesome.
            p Weather Icons licensed under
              a("http://scripts.sil.org/OFL") SIL OFL 1.1
              |  &mdash; Code licensed under
              a("http://opensource.org/licenses/mit-license.html") MIT License
              |   &mdash; Documentation licensed under
              a("http://creativecommons.org/licenses/by/3.0/") CC BY 3.0

