.icon-wrap
  .icon &#xf0b1;
  .icon_name wi-wind-default
  .icon_unicode f0b1 
.icon-wrap
  .icon &#xf0b1;
  .icon_name wi-wind-north
  .icon_unicode f0b1 
.icon-wrap
  .icon &#xf0b1;
  .icon_name wi-wind-south
  .icon_unicode f0b1 
.icon-wrap
  .icon &#xf0b1;
  .icon_name wi-wind-east
  .icon_unicode f0b1 
.icon-wrap
  .icon &#xf0b1;
  .icon_name wi-wind-west
  .icon_unicode f0b1 