.icon-wrap
  .icon &#xf08a;
  .icon-name wi-time-1
  .icon_unicode f08a 
.icon-wrap
  .icon &#xf08b;
  .icon-name wi-time-2
  .icon_unicode f08b 
.icon-wrap
  .icon &#xf08c;
  .icon-name wi-time-3
  .icon_unicode f08c 
.icon-wrap
  .icon &#xf08d;
  .icon-name wi-time-4
  .icon_unicode f08d 
.icon-wrap
  .icon &#xf08e;
  .icon-name wi-time-5
  .icon_unicode f08e 
.icon-wrap
  .icon &#xf08f;
  .icon-name wi-time-6
  .icon_unicode f08f 
.icon-wrap
  .icon &#xf090;
  .icon-name wi-time-7
  .icon_unicode f090 
.icon-wrap
  .icon &#xf091;
  .icon-name wi-time-8
  .icon_unicode f091 
.icon-wrap
  .icon &#xf092;
  .icon-name wi-time-9
  .icon_unicode f092 
.icon-wrap
  .icon &#xf093;
  .icon-name wi-time-10
  .icon_unicode f093 
.icon-wrap
  .icon &#xf094;
  .icon-name wi-time-11
  .icon_unicode f094 
.icon-wrap
  .icon &#xf089;
  .icon-name wi-time-12
  .icon_unicode f089 