.icon-wrap
  .wi.wi-wind-default.point-0-deg
  .icon-name wi-wind-default.point-0-deg
  .icon-name DEFAULT
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-0-deg
  .icon-name wi-wind-default.point-0-deg
  .icon-name N
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-23-deg
  .icon-name wi-wind-default.point-23-deg
  .icon-name NNE
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-45-deg
  .icon-name wi-wind-default.point-45-deg
  .icon-name NE
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-68-deg
  .icon-name wi-wind-default.point-68-deg
  .icon-name ENE
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-90-deg
  .icon-name wi-wind-default.point-90-deg
  .icon-name E
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-113-deg
  .icon-name wi-wind-default.point-113-deg
  .icon-name ESE
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-135-deg
  .icon-name wi-wind-default.point-135-deg
  .icon-name SE
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-158-deg
  .icon-name wi-wind-default.point-158-deg
  .icon-name SSE
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-180-deg
  .icon-name wi-wind-default.point-180-deg
  .icon-name S
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-203-deg
  .icon-name wi-wind-default.point-203-deg
  .icon-name SSW
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-225-deg
  .icon-name wi-wind-default.point-225-deg
  .icon-name SW
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-248-deg
  .icon-name wi-wind-default.point-248-deg
  .icon-name WSW
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-270-deg
  .icon-name wi-wind-default.point-270-deg
  .icon-name W
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-293-deg
  .icon-name wi-wind-default.point-293-deg
  .icon-name WNW
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-313-deg
  .icon-name wi-wind-default.point-313-deg
  .icon-name NW
  .icon_unicode f0b1 
.icon-wrap
  .wi.wi-wind-default.point-336-deg
  .icon-name wi-wind-default.point-336-deg
  .icon-name NNW
  .icon_unicode f0b1 