.icon-wrap
  i.wi.wi-wind.wi-towards-n
  .icon-name wi-towards-n
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-nne
  .icon-name wi-towards-nne
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-ne
  .icon-name wi-towards-ne
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-ene
  .icon-name wi-towards-ene
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-e
  .icon-name wi-towards-e
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-ese
  .icon-name wi-towards-ese
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-se
  .icon-name wi-towards-se
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-sse
  .icon-name wi-towards-sse
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-s
  .icon-name wi-towards-s
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-ssw
  .icon-name wi-towards-ssw
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-sw
  .icon-name wi-towards-sw
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-wsw
  .icon-name wi-towards-wsw
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-w
  .icon-name wi-towards-w
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-wnw
  .icon-name wi-towards-wnw
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-nw
  .icon-name wi-towards-nw
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-towards-nnw
  .icon-name wi-towards-nnw
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-n
  .icon-name wi-from-n
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-nne
  .icon-name wi-from-nne
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-ne
  .icon-name wi-from-ne
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-ene
  .icon-name wi-from-ene
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-e
  .icon-name wi-from-e
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-ese
  .icon-name wi-from-ese
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-se
  .icon-name wi-from-se
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-sse
  .icon-name wi-from-sse
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-s
  .icon-name wi-from-s
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-ssw
  .icon-name wi-from-ssw
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-sw
  .icon-name wi-from-sw
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-wsw
  .icon-name wi-from-wsw
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-w
  .icon-name wi-from-w
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-wnw
  .icon-name wi-from-wnw
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-nw
  .icon-name wi-from-nw
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.wi-from-nnw
  .icon-name wi-from-nnw
  .icon_unicode f0b1 