.icon-wrap
  i.wi.wi-wind.towards-0-deg
  .icon-name wi-wind.towards-0-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-23-deg
  .icon-name wi-wind.towards-23-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-45-deg
  .icon-name wi-wind.towards-45-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-68-deg
  .icon-name wi-wind.towards-68-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-90-deg
  .icon-name wi-wind.towards-90-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-113-deg
  .icon-name wi-wind.towards-113-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-135-deg
  .icon-name wi-wind.towards-135-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-158-deg
  .icon-name wi-wind.towards-158-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-180-deg
  .icon-name wi-wind.towards-180-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-203-deg
  .icon-name wi-wind.towards-203-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-225-deg
  .icon-name wi-wind.towards-225-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-248-deg
  .icon-name wi-wind.towards-248-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-270-deg
  .icon-name wi-wind.towards-270-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-293-deg
  .icon-name wi-wind.towards-293-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-313-deg
  .icon-name wi-wind.towards-313-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.towards-336-deg
  .icon-name wi-wind.towards-336-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-180-deg
  .icon-name wi-wind.from-180-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-203-deg
  .icon-name wi-wind.from-203-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-225-deg
  .icon-name wi-wind.from-225-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-248-deg
  .icon-name wi-wind.from-248-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-270-deg
  .icon-name wi-wind.from-270-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-293-deg
  .icon-name wi-wind.from-293-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-313-deg
  .icon-name wi-wind.from-313-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-336-deg
  .icon-name wi-wind.from-336-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-0-deg
  .icon-name wi-wind.from-0-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-23-deg
  .icon-name wi-wind.from-23-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-45-deg
  .icon-name wi-wind.from-45-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-68-deg
  .icon-name wi-wind.from-68-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-90-deg
  .icon-name wi-wind.from-90-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-113-deg
  .icon-name wi-wind.from-113-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-135-deg
  .icon-name wi-wind.from-135-deg
  .icon_unicode f0b1 
.icon-wrap
  i.wi.wi-wind.from-158-deg
  .icon-name wi-wind.from-158-deg
  .icon_unicode f0b1 