.icon-wrap
  .icon &#xf075;
  .icon-name wi-alien
  .icon_unicode f075 
.icon-wrap
  .icon &#xf03c;
  .icon-name wi-celsius
  .icon_unicode f03c 
.icon-wrap
  .icon &#xf045;
  .icon-name wi-fahrenheit
  .icon_unicode f045 
.icon-wrap
  .icon &#xf042;
  .icon-name wi-degrees
  .icon_unicode f042 
.icon-wrap
  .icon &#xf055;
  .icon-name wi-thermometer
  .icon_unicode f055 
.icon-wrap
  .icon &#xf053;
  .icon-name wi-thermometer-exterior
  .icon_unicode f053 
.icon-wrap
  .icon &#xf054;
  .icon-name wi-thermometer-internal
  .icon_unicode f054 
.icon-wrap
  .icon &#xf03d;
  .icon-name wi-cloud-down
  .icon_unicode f03d 
.icon-wrap
  .icon &#xf040;
  .icon-name wi-cloud-up
  .icon_unicode f040 
.icon-wrap
  .icon &#xf03e;
  .icon-name wi-cloud-refresh
  .icon_unicode f03e 
.icon-wrap
  .icon &#xf047;
  .icon-name wi-horizon
  .icon_unicode f047 
.icon-wrap
  .icon &#xf046;
  .icon-name wi-horizon-alt
  .icon_unicode f046 
.icon-wrap
  .icon &#xf051;
  .icon-name wi-sunrise
  .icon_unicode f051 
.icon-wrap
  .icon &#xf052;
  .icon-name wi-sunset
  .icon_unicode f052 
.icon-wrap
  .icon &#xf0c9;
  .icon-name wi-moonrise
  .icon_unicode f0c9 
.icon-wrap
  .icon &#xf0ca;
  .icon-name wi-moonset
  .icon_unicode f0ca 
.icon-wrap
  .icon &#xf04c;
  .icon-name wi-refresh
  .icon_unicode f04c 
.icon-wrap
  .icon &#xf04b;
  .icon-name wi-refresh-alt
  .icon_unicode f04b 
.icon-wrap
  .icon &#xf084;
  .icon-name wi-umbrella
  .icon_unicode f084 
.icon-wrap
  .icon &#xf079;
  .icon-name wi-barometer
  .icon_unicode f079 
.icon-wrap
  .icon &#xf07a;
  .icon-name wi-humidity
  .icon_unicode f07a 
.icon-wrap
  .icon &#xf07b;
  .icon-name wi-na
  .icon_unicode f07b 
.icon-wrap
  .icon &#xf0cb;
  .icon-name wi-train
  .icon_unicode f0cb 