.icon-wrap
  .icon &#xf041;
  .icon-name wi-cloud
  .icon_unicode f041 
.icon-wrap
  .icon &#xf013;
  .icon-name wi-cloudy
  .icon_unicode f013 
.icon-wrap
  .icon &#xf011;
  .icon-name wi-cloudy-gusts
  .icon_unicode f011 
.icon-wrap
  .icon &#xf012;
  .icon-name wi-cloudy-windy
  .icon_unicode f012 
.icon-wrap
  .icon &#xf014;
  .icon-name wi-fog
  .icon_unicode f014 
.icon-wrap
  .icon &#xf015;
  .icon-name wi-hail
  .icon_unicode f015 
.icon-wrap
  .icon &#xf019;
  .icon-name wi-rain
  .icon_unicode f019 
.icon-wrap
  .icon &#xf017;
  .icon-name wi-rain-mix
  .icon_unicode f017 
.icon-wrap
  .icon &#xf018;
  .icon-name wi-rain-wind
  .icon_unicode f018 
.icon-wrap
  .icon &#xf01a;
  .icon-name wi-showers
  .icon_unicode f01a 
.icon-wrap
  .icon &#xf0b5;
  .icon-name wi-sleet
  .icon_unicode f0b5 
.icon-wrap
  .icon &#xf01b;
  .icon-name wi-snow
  .icon_unicode f01b 
.icon-wrap
  .icon &#xf01c;
  .icon-name wi-sprinkle
  .icon_unicode f01c 
.icon-wrap
  .icon &#xf01d;
  .icon-name wi-storm-showers
  .icon_unicode f01d 
.icon-wrap
  .icon &#xf01e;
  .icon-name wi-thunderstorm
  .icon_unicode f01e 
.icon-wrap
  .icon &#xf064;
  .icon-name wi-snow-wind
  .icon_unicode f064 
.icon-wrap
  .icon &#xf01b;
  .icon-name wi-snow
  .icon_unicode f01b 
.icon-wrap
  .icon &#xf074;
  .icon-name wi-smog
  .icon_unicode f074 
.icon-wrap
  .icon &#xf062;
  .icon-name wi-smoke
  .icon_unicode f062 
.icon-wrap
  .icon &#xf016;
  .icon-name wi-lightning
  .icon_unicode f016 
.icon-wrap
  .icon &#xf04e;
  .icon-name wi-raindrops
  .icon_unicode f04e 
.icon-wrap
  .icon &#xf078;
  .icon-name wi-raindrop
  .icon_unicode f078 
.icon-wrap
  .icon &#xf063;
  .icon-name wi-dust
  .icon_unicode f063 
.icon-wrap
  .icon &#xf076;
  .icon-name wi-snowflake-cold
  .icon_unicode f076 
.icon-wrap
  .icon &#xf021;
  .icon-name wi-windy
  .icon_unicode f021 
.icon-wrap
  .icon &#xf050;
  .icon-name wi-strong-wind
  .icon_unicode f050 
.icon-wrap
  .icon &#xf082;
  .icon-name wi-sandstorm
  .icon_unicode f082 
.icon-wrap
  .icon &#xf0c6;
  .icon-name wi-earthquake
  .icon_unicode f0c6 
.icon-wrap
  .icon &#xf0c7;
  .icon-name wi-fire
  .icon_unicode f0c7 
.icon-wrap
  .icon &#xf07c;
  .icon-name wi-flood
  .icon_unicode f07c 
.icon-wrap
  .icon &#xf071;
  .icon-name wi-meteor
  .icon_unicode f071 
.icon-wrap
  .icon &#xf0c5;
  .icon-name wi-tsunami
  .icon_unicode f0c5 
.icon-wrap
  .icon &#xf0c8;
  .icon-name wi-volcano
  .icon_unicode f0c8 
.icon-wrap
  .icon &#xf073;
  .icon-name wi-hurricane
  .icon_unicode f073 
.icon-wrap
  .icon &#xf056;
  .icon-name wi-tornado
  .icon_unicode f056 
.icon-wrap
  .icon &#xf0cc;
  .icon-name wi-small-craft-advisory
  .icon_unicode f0cc 
.icon-wrap
  .icon &#xf0cd;
  .icon-name wi-gale-warning
  .icon_unicode f0cd 
.icon-wrap
  .icon &#xf0ce;
  .icon-name wi-storm-warning
  .icon_unicode f0ce 
.icon-wrap
  .icon &#xf0cf;
  .icon-name wi-hurricane-warning
  .icon_unicode f0cf 
.icon-wrap
  .icon &#xf0b1;
  .icon-name wi-wind-direction
  .icon_unicode f0b1 