.col-sm-12
  .section-title Daytime
  .row
    include icon-list-day
.col-sm-12
  .section-title Nighttime
  .row
    include icon-list-night
.col-sm-12
  .section-title Neutral
  .row
    include icon-list-neutral
.col-sm-12
  .section-title Miscellaneous
  .row
    include icon-list-misc
.col-sm-12
  .section-title Moon Phases
  .row
    include icon-list-moon
.col-sm-12
  .section-title Time
  .row
    include icon-list-time
.col-sm-12
  .section-title Directional Arrows
  .row
    include icon-list-direction
.col-sm-12
  .section-title Wind Degree Examples
  .instructions
    p The classes for the wind direction indicator is split into 2 options. You can choose towards or from. Towards points to the degree, zero at the top. From points directly away from the degree. This means, if you want the indicator to represent "wind is coming from the south", you can use the <code>towards-0-deg</code> class, or if you prefer to use from, then you would use <code>from-180-deg</code>.
    p There are 360 classes for each in 1 degree increments for maximum precision.
    p
  .row
    include icon-list-wind
.col-sm-12
  .section-title Wind Cardinal Examples
  .instructions
    p The classes for the cardinal wind direction indicator is split into 2 options. You can choose towards or from. Towards points to the direction in the class, north at the top. From points directly away from the direction in the class. This means, if you want the indicator to represent "wind is coming from the south", you can use the <code>towards-n</code> class, or if you prefer to use from, then you would use <code>from-s</code>.
    p The purpose of this is to accommodate applications that prefer to point to where the wind is originating from (arrow points against the wind), or pointing where the wind is blowing (arrow points in direction of wind). You can decide which fits your application best and use the class that matches.
    p There are 16 classes each for precision when using cardinal directions.
    p
  .row
    include icon-list-wind-cardinal
.col-sm-12
  .section-title Beaufort Wind Scale
  .row
    include icon-list-beaufort