.icon-wrap
  .icon &#xf02e;
  .icon-name wi-night-clear
  .icon_unicode f02e 
.icon-wrap
  .icon &#xf086;
  .icon-name wi-night-alt-cloudy
  .icon_unicode f086 
.icon-wrap
  .icon &#xf022;
  .icon-name wi-night-alt-cloudy-gusts
  .icon_unicode f022 
.icon-wrap
  .icon &#xf023;
  .icon-name wi-night-alt-cloudy-windy
  .icon_unicode f023 
.icon-wrap
  .icon &#xf024;
  .icon-name wi-night-alt-hail
  .icon_unicode f024 
.icon-wrap
  .icon &#xf025;
  .icon-name wi-night-alt-lightning
  .icon_unicode f025 
.icon-wrap
  .icon &#xf028;
  .icon-name wi-night-alt-rain
  .icon_unicode f028 
.icon-wrap
  .icon &#xf026;
  .icon-name wi-night-alt-rain-mix
  .icon_unicode f026 
.icon-wrap
  .icon &#xf027;
  .icon-name wi-night-alt-rain-wind
  .icon_unicode f027 
.icon-wrap
  .icon &#xf029;
  .icon-name wi-night-alt-showers
  .icon_unicode f029 
.icon-wrap
  .icon &#xf0b4;
  .icon-name wi-night-alt-sleet
  .icon_unicode f0b4 
.icon-wrap
  .icon &#xf06a;
  .icon-name wi-night-alt-sleet-storm
  .icon_unicode f06a 
.icon-wrap
  .icon &#xf02a;
  .icon-name wi-night-alt-snow
  .icon_unicode f02a 
.icon-wrap
  .icon &#xf06d;
  .icon-name wi-night-alt-snow-thunderstorm
  .icon_unicode f06d 
.icon-wrap
  .icon &#xf067;
  .icon-name wi-night-alt-snow-wind
  .icon_unicode f067 
.icon-wrap
  .icon &#xf02b;
  .icon-name wi-night-alt-sprinkle
  .icon_unicode f02b 
.icon-wrap
  .icon &#xf02c;
  .icon-name wi-night-alt-storm-showers
  .icon_unicode f02c 
.icon-wrap
  .icon &#xf02d;
  .icon-name wi-night-alt-thunderstorm
  .icon_unicode f02d 
.icon-wrap
  .icon &#xf031;
  .icon-name wi-night-cloudy
  .icon_unicode f031 
.icon-wrap
  .icon &#xf02f;
  .icon-name wi-night-cloudy-gusts
  .icon_unicode f02f 
.icon-wrap
  .icon &#xf030;
  .icon-name wi-night-cloudy-windy
  .icon_unicode f030 
.icon-wrap
  .icon &#xf04a;
  .icon-name wi-night-fog
  .icon_unicode f04a 
.icon-wrap
  .icon &#xf032;
  .icon-name wi-night-hail
  .icon_unicode f032 
.icon-wrap
  .icon &#xf033;
  .icon-name wi-night-lightning
  .icon_unicode f033 
.icon-wrap
  .icon &#xf083;
  .icon-name wi-night-partly-cloudy
  .icon_unicode f083 
.icon-wrap
  .icon &#xf036;
  .icon-name wi-night-rain
  .icon_unicode f036 
.icon-wrap
  .icon &#xf034;
  .icon-name wi-night-rain-mix
  .icon_unicode f034 
.icon-wrap
  .icon &#xf035;
  .icon-name wi-night-rain-wind
  .icon_unicode f035 
.icon-wrap
  .icon &#xf037;
  .icon-name wi-night-showers
  .icon_unicode f037 
.icon-wrap
  .icon &#xf0b3;
  .icon-name wi-night-sleet
  .icon_unicode f0b3 
.icon-wrap
  .icon &#xf069;
  .icon-name wi-night-sleet-storm
  .icon_unicode f069 
.icon-wrap
  .icon &#xf038;
  .icon-name wi-night-snow
  .icon_unicode f038 
.icon-wrap
  .icon &#xf06c;
  .icon-name wi-night-snow-thunderstorm
  .icon_unicode f06c 
.icon-wrap
  .icon &#xf066;
  .icon-name wi-night-snow-wind
  .icon_unicode f066 
.icon-wrap
  .icon &#xf039;
  .icon-name wi-night-sprinkle
  .icon_unicode f039 
.icon-wrap
  .icon &#xf03a;
  .icon-name wi-night-storm-showers
  .icon_unicode f03a 
.icon-wrap
  .icon &#xf03b;
  .icon-name wi-night-thunderstorm
  .icon_unicode f03b 
.icon-wrap
  .icon &#xf070;
  .icon-name wi-lunar-eclipse
  .icon_unicode f070 
.icon-wrap
  .icon &#xf077;
  .icon-name wi-stars
  .icon_unicode f077 
.icon-wrap
  .icon &#xf01d;
  .icon-name wi-storm-showers
  .icon_unicode f01d 
.icon-wrap
  .icon &#xf01e;
  .icon-name wi-thunderstorm
  .icon_unicode f01e 
.icon-wrap
  .icon &#xf07e;
  .icon-name wi-night-alt-cloudy-high
  .icon_unicode f07e 
.icon-wrap
  .icon &#xf080;
  .icon-name wi-night-cloudy-high
  .icon_unicode f080 
.icon-wrap
  .icon &#xf081;
  .icon-name wi-night-alt-partly-cloudy
  .icon_unicode f081 