.icon-wrap
  .icon &#xf0b7;
  .icon-name wi-wind-beaufort-0
  .icon_unicode f0b7 
.icon-wrap
  .icon &#xf0b8;
  .icon-name wi-wind-beaufort-1
  .icon_unicode f0b8 
.icon-wrap
  .icon &#xf0b9;
  .icon-name wi-wind-beaufort-2
  .icon_unicode f0b9 
.icon-wrap
  .icon &#xf0ba;
  .icon-name wi-wind-beaufort-3
  .icon_unicode f0ba 
.icon-wrap
  .icon &#xf0bb;
  .icon-name wi-wind-beaufort-4
  .icon_unicode f0bb 
.icon-wrap
  .icon &#xf0bc;
  .icon-name wi-wind-beaufort-5
  .icon_unicode f0bc 
.icon-wrap
  .icon &#xf0bd;
  .icon-name wi-wind-beaufort-6
  .icon_unicode f0bd 
.icon-wrap
  .icon &#xf0be;
  .icon-name wi-wind-beaufort-7
  .icon_unicode f0be 
.icon-wrap
  .icon &#xf0bf;
  .icon-name wi-wind-beaufort-8
  .icon_unicode f0bf 
.icon-wrap
  .icon &#xf0c0;
  .icon-name wi-wind-beaufort-9
  .icon_unicode f0c0 
.icon-wrap
  .icon &#xf0c1;
  .icon-name wi-wind-beaufort-10
  .icon_unicode f0c1 
.icon-wrap
  .icon &#xf0c2;
  .icon-name wi-wind-beaufort-11
  .icon_unicode f0c2 
.icon-wrap
  .icon &#xf0c3;
  .icon-name wi-wind-beaufort-12
  .icon_unicode f0c3 