.icon-wrap
  .icon &#xf00d;
  .icon-name wi-day-sunny
  .icon_unicode f00d 
.icon-wrap
  .icon &#xf002;
  .icon-name wi-day-cloudy
  .icon_unicode f002 
.icon-wrap
  .icon &#xf000;
  .icon-name wi-day-cloudy-gusts
  .icon_unicode f000 
.icon-wrap
  .icon &#xf001;
  .icon-name wi-day-cloudy-windy
  .icon_unicode f001 
.icon-wrap
  .icon &#xf003;
  .icon-name wi-day-fog
  .icon_unicode f003 
.icon-wrap
  .icon &#xf004;
  .icon-name wi-day-hail
  .icon_unicode f004 
.icon-wrap
  .icon &#xf0b6;
  .icon-name wi-day-haze
  .icon_unicode f0b6 
.icon-wrap
  .icon &#xf005;
  .icon-name wi-day-lightning
  .icon_unicode f005 
.icon-wrap
  .icon &#xf008;
  .icon-name wi-day-rain
  .icon_unicode f008 
.icon-wrap
  .icon &#xf006;
  .icon-name wi-day-rain-mix
  .icon_unicode f006 
.icon-wrap
  .icon &#xf007;
  .icon-name wi-day-rain-wind
  .icon_unicode f007 
.icon-wrap
  .icon &#xf009;
  .icon-name wi-day-showers
  .icon_unicode f009 
.icon-wrap
  .icon &#xf0b2;
  .icon-name wi-day-sleet
  .icon_unicode f0b2 
.icon-wrap
  .icon &#xf068;
  .icon-name wi-day-sleet-storm
  .icon_unicode f068 
.icon-wrap
  .icon &#xf00a;
  .icon-name wi-day-snow
  .icon_unicode f00a 
.icon-wrap
  .icon &#xf06b;
  .icon-name wi-day-snow-thunderstorm
  .icon_unicode f06b 
.icon-wrap
  .icon &#xf065;
  .icon-name wi-day-snow-wind
  .icon_unicode f065 
.icon-wrap
  .icon &#xf00b;
  .icon-name wi-day-sprinkle
  .icon_unicode f00b 
.icon-wrap
  .icon &#xf00e;
  .icon-name wi-day-storm-showers
  .icon_unicode f00e 
.icon-wrap
  .icon &#xf00c;
  .icon-name wi-day-sunny-overcast
  .icon_unicode f00c 
.icon-wrap
  .icon &#xf010;
  .icon-name wi-day-thunderstorm
  .icon_unicode f010 
.icon-wrap
  .icon &#xf085;
  .icon-name wi-day-windy
  .icon_unicode f085 
.icon-wrap
  .icon &#xf06e;
  .icon-name wi-solar-eclipse
  .icon_unicode f06e 
.icon-wrap
  .icon &#xf072;
  .icon-name wi-hot
  .icon_unicode f072 
.icon-wrap
  .icon &#xf07d;
  .icon-name wi-day-cloudy-high
  .icon_unicode f07d 
.icon-wrap
  .icon &#xf0c4;
  .icon-name wi-day-light-wind
  .icon_unicode f0c4 