.icon-wrap
  .icon &#xf095;
  .icon-name wi-moon-new
  .icon_unicode f095 
.icon-wrap
  .icon &#xf096;
  .icon-name wi-moon-waxing-crescent-1
  .icon_unicode f096 
.icon-wrap
  .icon &#xf097;
  .icon-name wi-moon-waxing-crescent-2
  .icon_unicode f097 
.icon-wrap
  .icon &#xf098;
  .icon-name wi-moon-waxing-crescent-3
  .icon_unicode f098 
.icon-wrap
  .icon &#xf099;
  .icon-name wi-moon-waxing-crescent-4
  .icon_unicode f099 
.icon-wrap
  .icon &#xf09a;
  .icon-name wi-moon-waxing-crescent-5
  .icon_unicode f09a 
.icon-wrap
  .icon &#xf09b;
  .icon-name wi-moon-waxing-crescent-6
  .icon_unicode f09b 
.icon-wrap
  .icon &#xf09c;
  .icon-name wi-moon-first-quarter
  .icon_unicode f09c 
.icon-wrap
  .icon &#xf09d;
  .icon-name wi-moon-waxing-gibbous-1
  .icon_unicode f09d 
.icon-wrap
  .icon &#xf09e;
  .icon-name wi-moon-waxing-gibbous-2
  .icon_unicode f09e 
.icon-wrap
  .icon &#xf09f;
  .icon-name wi-moon-waxing-gibbous-3
  .icon_unicode f09f 
.icon-wrap
  .icon &#xf0a0;
  .icon-name wi-moon-waxing-gibbous-4
  .icon_unicode f0a0 
.icon-wrap
  .icon &#xf0a1;
  .icon-name wi-moon-waxing-gibbous-5
  .icon_unicode f0a1 
.icon-wrap
  .icon &#xf0a2;
  .icon-name wi-moon-waxing-gibbous-6
  .icon_unicode f0a2 
.icon-wrap
  .icon &#xf0a3;
  .icon-name wi-moon-full
  .icon_unicode f0a3 
.icon-wrap
  .icon &#xf0a4;
  .icon-name wi-moon-waning-gibbous-1
  .icon_unicode f0a4 
.icon-wrap
  .icon &#xf0a5;
  .icon-name wi-moon-waning-gibbous-2
  .icon_unicode f0a5 
.icon-wrap
  .icon &#xf0a6;
  .icon-name wi-moon-waning-gibbous-3
  .icon_unicode f0a6 
.icon-wrap
  .icon &#xf0a7;
  .icon-name wi-moon-waning-gibbous-4
  .icon_unicode f0a7 
.icon-wrap
  .icon &#xf0a8;
  .icon-name wi-moon-waning-gibbous-5
  .icon_unicode f0a8 
.icon-wrap
  .icon &#xf0a9;
  .icon-name wi-moon-waning-gibbous-6
  .icon_unicode f0a9 
.icon-wrap
  .icon &#xf0aa;
  .icon-name wi-moon-third-quarter
  .icon_unicode f0aa 
.icon-wrap
  .icon &#xf0ab;
  .icon-name wi-moon-waning-crescent-1
  .icon_unicode f0ab 
.icon-wrap
  .icon &#xf0ac;
  .icon-name wi-moon-waning-crescent-2
  .icon_unicode f0ac 
.icon-wrap
  .icon &#xf0ad;
  .icon-name wi-moon-waning-crescent-3
  .icon_unicode f0ad 
.icon-wrap
  .icon &#xf0ae;
  .icon-name wi-moon-waning-crescent-4
  .icon_unicode f0ae 
.icon-wrap
  .icon &#xf0af;
  .icon-name wi-moon-waning-crescent-5
  .icon_unicode f0af 
.icon-wrap
  .icon &#xf0b0;
  .icon-name wi-moon-waning-crescent-6
  .icon_unicode f0b0 
.icon-wrap
  .icon &#xf0eb;
  .icon-name wi-moon-alt-new
  .icon_unicode f0eb 
.icon-wrap
  .icon &#xf0d0;
  .icon-name wi-moon-alt-waxing-crescent-1
  .icon_unicode f0d0 
.icon-wrap
  .icon &#xf0d1;
  .icon-name wi-moon-alt-waxing-crescent-2
  .icon_unicode f0d1 
.icon-wrap
  .icon &#xf0d2;
  .icon-name wi-moon-alt-waxing-crescent-3
  .icon_unicode f0d2 
.icon-wrap
  .icon &#xf0d3;
  .icon-name wi-moon-alt-waxing-crescent-4
  .icon_unicode f0d3 
.icon-wrap
  .icon &#xf0d4;
  .icon-name wi-moon-alt-waxing-crescent-5
  .icon_unicode f0d4 
.icon-wrap
  .icon &#xf0d5;
  .icon-name wi-moon-alt-waxing-crescent-6
  .icon_unicode f0d5 
.icon-wrap
  .icon &#xf0d6;
  .icon-name wi-moon-alt-first-quarter
  .icon_unicode f0d6 
.icon-wrap
  .icon &#xf0d7;
  .icon-name wi-moon-alt-waxing-gibbous-1
  .icon_unicode f0d7 
.icon-wrap
  .icon &#xf0d8;
  .icon-name wi-moon-alt-waxing-gibbous-2
  .icon_unicode f0d8 
.icon-wrap
  .icon &#xf0d9;
  .icon-name wi-moon-alt-waxing-gibbous-3
  .icon_unicode f0d9 
.icon-wrap
  .icon &#xf0da;
  .icon-name wi-moon-alt-waxing-gibbous-4
  .icon_unicode f0da 
.icon-wrap
  .icon &#xf0db;
  .icon-name wi-moon-alt-waxing-gibbous-5
  .icon_unicode f0db 
.icon-wrap
  .icon &#xf0dc;
  .icon-name wi-moon-alt-waxing-gibbous-6
  .icon_unicode f0dc 
.icon-wrap
  .icon &#xf0dd;
  .icon-name wi-moon-alt-full
  .icon_unicode f0dd 
.icon-wrap
  .icon &#xf0de;
  .icon-name wi-moon-alt-waning-gibbous-1
  .icon_unicode f0de 
.icon-wrap
  .icon &#xf0df;
  .icon-name wi-moon-alt-waning-gibbous-2
  .icon_unicode f0df 
.icon-wrap
  .icon &#xf0e0;
  .icon-name wi-moon-alt-waning-gibbous-3
  .icon_unicode f0e0 
.icon-wrap
  .icon &#xf0e1;
  .icon-name wi-moon-alt-waning-gibbous-4
  .icon_unicode f0e1 
.icon-wrap
  .icon &#xf0e2;
  .icon-name wi-moon-alt-waning-gibbous-5
  .icon_unicode f0e2 
.icon-wrap
  .icon &#xf0e3;
  .icon-name wi-moon-alt-waning-gibbous-6
  .icon_unicode f0e3 
.icon-wrap
  .icon &#xf0e4;
  .icon-name wi-moon-alt-third-quarter
  .icon_unicode f0e4 
.icon-wrap
  .icon &#xf0e5;
  .icon-name wi-moon-alt-waning-crescent-1
  .icon_unicode f0e5 
.icon-wrap
  .icon &#xf0e6;
  .icon-name wi-moon-alt-waning-crescent-2
  .icon_unicode f0e6 
.icon-wrap
  .icon &#xf0e7;
  .icon-name wi-moon-alt-waning-crescent-3
  .icon_unicode f0e7 
.icon-wrap
  .icon &#xf0e8;
  .icon-name wi-moon-alt-waning-crescent-4
  .icon_unicode f0e8 
.icon-wrap
  .icon &#xf0e9;
  .icon-name wi-moon-alt-waning-crescent-5
  .icon_unicode f0e9 
.icon-wrap
  .icon &#xf0ea;
  .icon-name wi-moon-alt-waning-crescent-6
  .icon_unicode f0ea 