.icon-wrap
  .icon &#xf058;
  .icon-name wi-direction-up
  .icon_unicode f058 
.icon-wrap
  .icon &#xf057;
  .icon-name wi-direction-up-right
  .icon_unicode f057 
.icon-wrap
  .icon &#xf04d;
  .icon-name wi-direction-right
  .icon_unicode f04d 
.icon-wrap
  .icon &#xf088;
  .icon-name wi-direction-down-right
  .icon_unicode f088 
.icon-wrap
  .icon &#xf044;
  .icon-name wi-direction-down
  .icon_unicode f044 
.icon-wrap
  .icon &#xf043;
  .icon-name wi-direction-down-left
  .icon_unicode f043 
.icon-wrap
  .icon &#xf048;
  .icon-name wi-direction-left
  .icon_unicode f048 
.icon-wrap
  .icon &#xf087;
  .icon-name wi-direction-up-left
  .icon_unicode f087 