.col-sm-12
  h1 Time
  .row
    include icon-list-time
.col-sm-12
  h1 Beaufort
  .row
    include icon-list-beaufort
.col-sm-12
  h1 Moons
  .row
    include icon-list-moon
.col-sm-12
  h1 Directions
  .row
    include icon-list-direction
.col-sm-12
  h1 Wind
  .row
    include icon-list-wind