.icon-wrap
  .icon &#xf0a3;
  .icon_name wi-moon-full
  .icon_unicode f0a3 
.icon-wrap
  .icon &#xf095;
  .icon_name wi-moon-new
  .icon_unicode f095 
.icon-wrap
  .icon &#xf0ab;
  .icon_name wi-moon-waning-crescent-1
  .icon_unicode f0ab 
.icon-wrap
  .icon &#xf0ac;
  .icon_name wi-moon-waning-crescent-2
  .icon_unicode f0ac 
.icon-wrap
  .icon &#xf0ad;
  .icon_name wi-moon-waning-crescent-3
  .icon_unicode f0ad 
.icon-wrap
  .icon &#xf0ae;
  .icon_name wi-moon-waning-crescent-4
  .icon_unicode f0ae 
.icon-wrap
  .icon &#xf0af;
  .icon_name wi-moon-waning-crescent-5
  .icon_unicode f0af 
.icon-wrap
  .icon &#xf0b0;
  .icon_name wi-moon-waning-crescent-6
  .icon_unicode f0b0 
.icon-wrap
  .icon &#xf0a4;
  .icon_name wi-moon-waning-gibbous-1
  .icon_unicode f0a4 
.icon-wrap
  .icon &#xf0a5;
  .icon_name wi-moon-waning-gibbous-2
  .icon_unicode f0a5 
.icon-wrap
  .icon &#xf0a6;
  .icon_name wi-moon-waning-gibbous-3
  .icon_unicode f0a6 
.icon-wrap
  .icon &#xf0a7;
  .icon_name wi-moon-waning-gibbous-4
  .icon_unicode f0a7 
.icon-wrap
  .icon &#xf0a8;
  .icon_name wi-moon-waning-gibbous-5
  .icon_unicode f0a8 
.icon-wrap
  .icon &#xf0a9;
  .icon_name wi-moon-waning-gibbous-6
  .icon_unicode f0a9 
.icon-wrap
  .icon &#xf096;
  .icon_name wi-moon-waxing-cresent-1
  .icon_unicode f096 
.icon-wrap
  .icon &#xf097;
  .icon_name wi-moon-waxing-cresent-2
  .icon_unicode f097 
.icon-wrap
  .icon &#xf098;
  .icon_name wi-moon-waxing-cresent-3
  .icon_unicode f098 
.icon-wrap
  .icon &#xf099;
  .icon_name wi-moon-waxing-cresent-4
  .icon_unicode f099 
.icon-wrap
  .icon &#xf09a;
  .icon_name wi-moon-waxing-cresent-5
  .icon_unicode f09a 
.icon-wrap
  .icon &#xf09b;
  .icon_name wi-moon-waxing-cresent-6
  .icon_unicode f09b 
.icon-wrap
  .icon &#xf09d;
  .icon_name wi-moon-waxing-gibbous-1
  .icon_unicode f09d 
.icon-wrap
  .icon &#xf09e;
  .icon_name wi-moon-waxing-gibbous-2
  .icon_unicode f09e 
.icon-wrap
  .icon &#xf09f;
  .icon_name wi-moon-waxing-gibbous-3
  .icon_unicode f09f 
.icon-wrap
  .icon &#xf0a0;
  .icon_name wi-moon-waxing-gibbous-4
  .icon_unicode f0a0 
.icon-wrap
  .icon &#xf0a1;
  .icon_name wi-moon-waxing-gibbous-5
  .icon_unicode f0a1 
.icon-wrap
  .icon &#xf0a2;
  .icon_name wi-moon-waxing-gibbous-6
  .icon_unicode f0a2 