.col-sm-12
  h1 Daytime
  .row
    include icon-list-day
.col-sm-12
  h1 Nighttime
  .row
    include icon-list-night
.col-sm-12
  h1 Neutral and Cloudy
  .row
    include icon-list-neutral-cloudy
.col-sm-12
  h1 Miscellaneous
  .row
    include icon-list-misc
.col-sm-12
  h1 Moon Phases
  .row
    include icon-list-moon

.col-sm-12
  h1 Time
  .row
    include icon-list-time
.col-sm-12
  h1 Directional Arrows
  .row
    include icon-list-direction
.col-sm-12
  h1 Wind Examples
  .row
    include icon-list-wind
.col-sm-12
  h1 Beaufort Wind Scale
  .row
    include icon-list-beaufort