doctype
html
  head
    title Weather Icons - 189 Icon Font inspired by Font Awesome and designed for Bootstrap

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='../css/weather-icons.css')



  body

    section
      p this
      i.wi.wi-wind-default.point-120-deg
      p this

    section.content.container.iconExamples
      include icon-list









