doctype
html
  head
    title Weather Icons - 219 font icons inspired by Font Awesome and designed for Bootstrap

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='../css/weather-icons.css')
    link(rel='stylesheet', href='../css/weather-icons-wind.css')



  body

    section

    .container
      .row
        include icon-list









