.row.new-icons
  .col-sm-12
    h3 25 New 2.0 Icons!
    .row
      .col-sm-3
        ul
          li
            i.wi.wi-day-cloudy-high
            | day-cloudy-high
          li
            i.wi.wi-day-light-wind
            | day-light-wind
          li
            i.wi.wi-day-sleet
            | day-sleet
          li
            i.wi.wi-day-haze
            | day-haze
          li
            i.wi.wi-night-cloudy-high
            | night-cloud-high
          li
            i.wi.wi-night-alt-partly-cloudy
            | night-alt-partly-cloudy
          li
            i.wi.wi-sleet
            | sleet
      .col-sm-3
        ul
          li
            i.wi.wi-moonrise
            | moonrise
          li
            i.wi.wi-moonset
            | moonset
          li
            i.wi.wi-night-sleet
            | night-sleet
          li
            i.wi.wi-night-alt-sleet
            | night-alt-sleet
          li
            i.wi.wi-raindrop
            | raindrop
          li
            i.wi.wi-barometer
            | barometer
          li
            i.wi.wi-humidity
            | humidity
      .col-sm-3
        ul
          li
            i.wi.wi-na
            | na (no report)
          li
            i.wi.wi-flood
            | flood
          li
            i.wi.wi-sandstorm
            | sandstorm
          li
            i.wi.wi-tsunami
            | tsunami
          li
            i.wi.wi-earthquake
            | earthquake
          li
            i.wi.wi-fire
            | fire
      .col-sm-3
        ul
          li
            i.wi.wi-volcano
            | volcano
          li
            i.wi.wi-train
            | train
          li
            i.wi.wi-small-craft-advisory
            | small-craft-advisory
          li
            i.wi.wi-gale-warning
            | gale-warning
          li
            i.wi.wi-storm-warning
            | storm-warning
          li
            i.wi.wi-hurricane-warning
            | hurricane-warning