{:columns [label code]
 :outputs
 [{:name   "../less/icon-variables/variables-beaufort.less"
   :before ""
   :join   ";\n"
   :row    [\@ label \: " " \" \\ code \"]
   :after  ";"}


  {:name   "../sass/icon-variables/variables-beaufort.scss"
   :before ""
   :join   ";\n"
   :row    [\$ label \: " " \" \\ code \"]
   :after  ";"}


   {:name   "../less/icon-classes/classes-beaufort.less"
   :before ""
   :join   "\n"
   :row    [".wi-" label ":before {content: @" label ";}"]
   :after  ""}


   {:name   "../sass/icon-classes/classes-beaufort.scss"
   :before ""
   :join   "\n"
   :row    [".wi-" label ":before {content: $" label ";}"]
   :after  ""}


  {:name   "../_docs/jade/icon-list-beaufort.jade"
   :before ""
   :join   "\n"
   :row    [".icon-wrap" "\n"
            "  .icon &#x" code \; "\n"
            "  .icon-name wi-" label "\n"
            "  .icon_unicode " code \ ""]
   :after  ""}
   ]}
