{:columns [direction label code]
 :outputs
 [{:name   "../less/icon-classes/classes-wind-degrees.less"
   :before ".@{wi-css-prefix}-wind { \n"
   :join   "}\n"
   :row    [\ \ \& "." direction "-" label "-deg {.wind-rotate(" code "deg);"]
   :after  "} \n}"}

  {:name   "../sass/icon-classes/classes-wind-degrees.scss"
   :before ".#{$wi-css-prefix}-wind {\n"
   :join   "}\n"
   :row    [\ \ \& "." direction "-" label "-deg {@include wind-rotate(" code "deg);"]
   :after  "}\n}\n\n.wi-wind-towards-n    {\n  @extend .wi-wind.towards-0-deg;\n}"}

   ]}
