{:columns [direction label code degree]
 :outputs
 [{:name   "../less/icon-variables/variables-wind-names.less"
   :before ""
   :join   ";\n"
   :row    [\@ label \: " " \" \\ code \"]
   :after  ";"}


  {:name   "../sass/icon-variables/variables-wind-names.scss"
   :before ""
   :join   ";\n"
   :row    [\$ label \: " " \" \\ code \"]
   :after  ";"}

 {:name   "../_docs/jade/icon-list-wind.jade"
   :before ""
   :join   "\n"
   :row    [".icon-wrap" "\n"
            "  .wi.wi-wind-default." direction "-" degree "-deg\n"
            "  .icon-name wi-wind-default." direction "-" degree "-deg\n"
            ; "  .icon-name " direction "\n"
            "  .icon_unicode " code \ ""]
   :after  ""}
   ]}
