// Font Stuff

@copy:              "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
@white:             hsl(0, 0%, 100%);
@black:             hsl(0, 0%, 0%);
@red:               hsl(0, 100%, 50%);

@ultraLight:  200;
@light:       300;
@normal:      400;
@semibold:    500;
@bold:        700;
@extraBold:   800;
@blackBold:   900;


@purple: hsl(288, 36%, 47%);